#searchbar {
    margin: 2em;
}

td:first-of-type {
    height: 200px;
    width: 250px;
}

td:first-of-type > div {
    height: 200px;
    width: 250px;
}

#map {
    height: 200px;
    width: 200px;
}